<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</style>
<body>
    <div id="login">
        <div class="container mt-4">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Selamat Datang</h3>
                        </form>
                        <center>
                          <a href="http://localhost:8000/logout" class="btn btn-info btn-md">Keluar</a>  
                        </center>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
